*{
  font-family: 'Roboto', sans-serif;
}
.transactions_container {
  width: 90%;
  margin: 50px auto;
  background: #fff;
  border: 1px solid rgba(161, 161, 161, 0.3)
}
.transactions_info div {
  height: 30px
}
.link {
  flex: .1 0 0% !important;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100000;
}
.transactions_subheader{
  padding: 20px;
  display: flex !important;
  justify-content: space-between;
}
body {
background: #CFD8DC !important;
}

